<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Inicia Sesion</h1>
        <div>
            <h2>Ingresa tus Credenciales</h2>
            <form th:action="@{/login}" method="post">

                <div th:if="${param.error}">
                    Usuario o contraseña incorrectos
                </div>

                <div th:if="${param.logout}" >
                    Sesión cerrada correctamente
                </div>

                <label for="username" >USUARIO:</label>
                <input id="username" type="text" placeholder="Ingresa tu usuario..." required>
                <label for="password">CONTRASEÑA:</label>
                <input id="password" type="password" placeholder="Ingresa tu contraseña..." required>

                <button type="submit">Ingresar</button>
            </form>
            <span>¿Aun no tienes cuenta?<a th:href="@{/signup}"> Crea tu Usuario Aquí</a></span>
        </div>
    </div>

</body>
</html>